<h1>Submit a new idea</h1>
<%= @idea.errors.full_messages.join(", ") %>
<%= form_for @idea do |f| %>

<div>
  <%= f.label :title%>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :body%>
  <%= f.text_area :body %>
</div>

<%= f.submit %>

<%= form_for @user, url: users_path, html: { multipart: true } do |form| %>
<%= form.file_field :avatar %>
<% end %>

<% end %>
